div.container{
    background-color: #D5E1EF; 
    width: 1440px;
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
}

div.card{
    background-color: #FBFFFF;
    height: fit-content;
    align-self: center;
}
div.card,
div.img-wrapper img{
    border-radius: 10px;
}
div.img-wrapper,
div.par-wrappper{
   margin: 10px;
}
div.img-wrapper,
div.img-wrapper img,
div.par-wrappper{
    width: 190px;
   
 }
p.desc{
    font-weight: 700;
    color:#0E1D3C;
}
div.par-wrappper{
    padding-bottom: 10px;
    text-align: center;
}
p.inst{
    font-weight: 400;
    font-size: 76%;
    color:rgba(97, 102, 112, 0.57);
    padding-top: 20px;
}
@media only screen and (max-width: 420px){
    div.container{
        width: 100%;
    }
}